:host {
  opacity: 0.8;
  margin-top: 5rem;
}
.col {
  width: 100%;
  display: flex;
  justify-content: center;
}
a {
  font-size: 2rem;
  color: #000000;
}

#githubLink {
  color: #848484;
  margin-right: 1rem;
  margin-top: auto;
  margin-bottom: auto;
}
#githubLink:hover {
  color: #691C7C;
}

@media all and (max-width: 500px) {
  a {
    font-size: 1rem;
  }
}
