<mat-card id="left">
  <mat-card-header>
    <mat-card-title>Who is Thomas Gotwig?
      <i class="material-icons">sentiment_very_satisfied</i>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>
      In mid of 2018, I received the
      <b>Bachelor of Science in Bioinformatics</b> degree. <br />

      During my Bachelor-Thesis, <br />
      I developed interactive web vizualizations together with
      <a href="https://synmikro.com/">Synmikro Marburg</a>, <br />
      for visualizing gene-neighbourhoods. <br />
      <a href="../../assets/pdf/synmikro.pdf" target="_blank">Here</a> you can
      find a Conference-Poster about that Project.
    </p>

    <p>This site provides two other tabs of information about me:</p>
    <ul>
      <li><b>Services</b> lists some of my provided services</li>
      <li>
        <b>Certificates</b> lists my work experiences and completed online
        courses
      </li>
    </ul>

    <p>As well as 👇</p>

    <!-- Social Media Accordion -->
    <div class="container">
      <ul class="accordion">
        <li class="tab">
          <div class="social fa-github">
            <a href="https://github.com/TGotwig" target="_blank">Github</a>
          </div>
          <div class="content">
            <h2>Github</h2>
            <p>
              Check out my Github for personal projects and more 🐱
            </p>
          </div>
        </li>
        <li class="tab">
          <div class="social fa-twitter">
            <a href="https://twitter.com/tgotwig" target="_blank">twitter</a>
          </div>
          <div class="content">
            <h2>Twitter</h2>
            <p>
              Follow me on Twitter for programming related posts in future 🦋
            </p>
          </div>
        </li>
        <li class="tab">
          <div class="social fa-linkedin-in">
            <a href="https://www.linkedin.com/in/thomas-gotwig-244a35177/" target="_blank">linkedin</a>
          </div>
          <div class="content">
            <h2>Linkedin</h2>
            <p>
              Connect with me on a professional level on Linkedin 🤗
            </p>
          </div>
        </li>
        <li class="tab">
          <div class="social fa-kaggle">
            <a href="https://www.kaggle.com/thomasgotwig" target="_blank">Github</a>
          </div>
          <div class="content">
            <h2>Kaggle</h2>
            <p>
              Check out my Kaggle to see on which challenges I currently compete 🤖 an older account is also
              available under the
              URL-ending "tgotwig" 🤓
            </p>
          </div>
        </li>
        <li class="tab">
          <div class="social fa-stack-overflow">
            <a href="https://stackoverflow.com/users/6244047/thomas-gotwig" target="_blank">Stackoverflow</a>
          </div>
          <div class="content">
            <h2>Stackoverflow</h2>
            <p>
              Check out my contributions on Stackoverflow 📚
            </p>
          </div>
        </li>
        <li class="tab">
          <div class="social fa-medium-m">
            <a href="https://medium.com/@tgotwig" target="_blank">Medium</a>
          </div>
          <div class="content">
            <h2>Medium</h2>
            <p>
              Check out my posts on Medium 📓
            </p>
          </div>
        </li>
      </ul>
    </div>
  </mat-card-content>
</mat-card>

<mat-card id="right">
  <mat-card-title-group>
    <mat-card-title>Thomas Gotwig</mat-card-title>
    <mat-card-subtitle>Bachelor of Science <i class="material-icons">school</i>
    </mat-card-subtitle>
    <img mat-card-avatar src="./assets/img/tom.min.png" style="height: 80px; width: 80px;" />
  </mat-card-title-group>
  <mat-card-content>
    <address>
      Thomas Gotwig <br />
      Ginnheimer Landstr. 167a <br />
      60431 Frankfurt am Main <br />
      <br />
      069 6986 1016 <br />
      <a href="tgotwig@gmail.com">tgotwig@gmail.com</a>
    </address>
  </mat-card-content>
</mat-card>