:host {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#left {
  margin: 0 1rem;
  margin-bottom: 1rem;
  width: 50rem;
}
#right {
  margin: 0 1rem;
  margin-bottom: 1rem;
  height: 17rem;
}

.card-list {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.card {
  transition: 0.2s;
}
.card > mat-card {
  border-radius: 2rem;
}
.card:focus-within ~ .card,
.card:hover ~ .card {
  transform: translateX(2rem);
}
.card:hover {
  transform: translateY(-1rem);
}

.github {
  color: purple;
}
.linkedin {
  color: steelblue;
}
.stack-overflow {
  color: orange;
}
.dev {
  color: black;
}

@media (min-width: 700px) {
  .card-list {
    flex-direction: row;
  }
  .card:not(:first-child) {
    margin-left: -2rem;
  }
}
