<mat-card id="left">
  <mat-card-header>
    <mat-card-title id="mainTitle">Who is Thomas Gotwig?
      <i class="material-icons">sentiment_very_satisfied</i>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p id="block1">
      In mid of 2018, I received the
      <b>Bachelor of Science in Bioinformatics</b> degree. <br />

      During my Bachelor-Thesis, I developed interactive web vizualizations together with
      <a href="https://synmikro.com/">Synmikro Marburg</a>,
      for visualizing gene-neighbourhoods.
      <a href="assets/pdf/synmikro.pdf" target="_blank">Here</a> you
      can
      find a Conference-Poster about that Project.
    </p>

    <div id="block2">
      <p>This site provides two other tabs of information about me:</p>
      <ul>
        <li><b>Services</b> lists some of my provided services</li>
        <li><b>Certificates</b> lists some of my work experiences</li>
      </ul>
    </div>

    <div id="block3">
      <p>As well as 👇</p>
      <div class="container">
        <ul class="accordion">
          <li class="tab" *ngFor="let tab of data">
            <div class="social {{tab.class}}">
              <a href="{{tab.href}}" target=" _blank">{{tab.name}}</a>
            </div>
            <div class="content">
              <h2>{{tab.name}}</h2>
              <p>
                {{tab.text}}
              </p>
            </div>
          </li>
        </ul>
      </div>
    </div>

  </mat-card-content>
</mat-card>

<mat-card id="right">
  <mat-card-title-group>
    <mat-card-title>Thomas Gotwig</mat-card-title>
    <mat-card-subtitle>Bachelor of Science <i class="material-icons">school</i>
    </mat-card-subtitle>
    <img mat-card-avatar src="assets/img/tom.min.png" style="height: 80px; width: 80px;" />
  </mat-card-title-group>
  <mat-card-content>
    <address>
      Thomas Gotwig <br />
      Ginnheimer Landstr. 167a <br />
      60431 Frankfurt am Main <br />
      <br />
      069 6986 1016 <br />
      <a href="tgotwig@gmail.com">tgotwig@gmail.com</a>
    </address>
  </mat-card-content>
</mat-card>