.myContainer {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(12, 1fr);
}
.myCard {
  grid-column: span 4;
}
@media all and (max-width: 1190px) {
  .myCard {
    grid-column: span 6;
  }
}
@media all and (max-width: 800px) {
  .myCard {
    grid-column: span 12;
  }
}
