/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
p,
address,
div,
li {
  font-size: 1.2rem;
  font-family: "Nunito", sans-serif;
  font-style: normal;
}
.mat-card-header .mat-card-title {
  font-size: 2rem;
  font-family: "Nunito", cursive;
  margin: 0;
}
.mat-card-content > :last-child:not(.mat-card-footer),
.mat-card > :last-child:not(.mat-card-footer) {
  margin-top: 1rem;
}
.material-icons {
  font-size: 3rem;
}
.mat-card-subtitle {
  font-size: 1.1rem;
}
body {
  margin: 0;
}
a {
  text-decoration: none;
}
